In [1]:
import pandas as pd 
import numpy as np

# Dataset 1: Vehicle Crashes

In [2]:
file_1 = '/Users/yuhngtan/Downloads/Vehicle_Crashes.csv'

df_1 = pd.read_csv(file_1)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/yuhngtan/Downloads/Vehicle_Crashes.csv'

In [ ]:
df_1.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_1.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.895266e+06,1.895266e+06,2.134641e+06,2.134628e+06,2.134659e+06,2.134659e+06,2.134659e+06,2.134659e+06,2.134659e+06,2.134659e+06,2.134659e+06
mean,4.062558e+01,-7.374824e+01,3.180019e-01,1.537036e-03,5.764949e-02,7.570296e-04,2.785269e-02,1.208624e-04,2.283508e-01,6.347618e-04,3.203524e+06
std,2.001307e+00,3.755992e+00,7.070054e-01,4.139599e-02,2.462099e-01,2.807690e-02,1.666666e-01,1.103561e-02,6.682333e-01,2.756640e-02,1.506698e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066761e+01,-7.397472e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.169784e+06
50%,4.072060e+01,-7.392710e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.703590e+06
75%,4.076962e+01,-7.386678e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.237490e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.771457e+06

In [ ]:
df_1.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [ ]:
df_1.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           663229
ZIP CODE                          663491
LATITUDE                          239393
LONGITUDE                         239393
LOCATION                          239393
ON STREET NAME                    457554
CROSS STREET NAME                 813846
OFF STREET NAME                  1769478
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7203
CONTRIBUTING FACTOR VEHICLE 2     335261
CONTRIBUTING FACTOR VEHICLE 3    1981119
CONTRIBUTING FACTOR VEHICLE 4    2099762
CONTRIBUTING FACTOR VEHICLE 5    2125151
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14619
VEHICLE TYPE CODE 2               416127
VEHICLE TYPE CODE 3              1986865
VEHICLE TYPE CODE 4              2101008
VEHICLE TYPE CODE 5              2125445
dtype: int64

# Dataset 2 : Facilities

In [ ]:
file_2 = '/Users/yuhngtan/Downloads/Facilities_Database_20241117.csv'

df_2 = pd.read_csv(file_2)

In [ ]:
df_2.head()

,uid,facname,number,street,address,city,borough,borocode,postcode,latitude,...,opabbrev,overlevel,overagency,overabbrev,datasource,facdomain,schooldist,policeprct,servarea,geometry
0,0001056502f70d1eea9f73b4ac96097e,DYCD-EAST RIVER COMMUNITY CENTER,404,EAST 105 STREET,404 EAST 105 STREET,NEW YORK,MANHATTAN,1.0,10029.0,40.787938,...,Non-public,City,NYC Department of Education,NYCDOE,nysed_activeinstitutions,"EDUCATION, CHILD WELFARE, AND YOUTH",4.0,23.0,Local,POINT(1000690.4005582267 226349.702519451)
1,000186821f899fef28e05c9ca2182621,PLANNED PARENTHOOD BRONX HEALTH CENTER,349,EAST 149 STREET,349 EAST 149 STREET,BRONX,BRONX,2.0,10451.0,40.816861,...,Non-public,State,NYS Department of Health,NYSDOH,nysdoh_healthfacilities,HEALTH AND HUMAN SERVICES,7.0,40.0,Regional,POINT(1006473.8804627889 236891.74374250782)
2,00056520e4c5483e13933cda8c8a736d,MARKS JCH OF BENSONHURST DAY CAMP,7802,BAY PARKWAY,7802 BAY PARKWAY,BROOKLYN,BROOKLYN,3.0,11214.0,40.606368,...,Non-public,City,NYC Department of Health and Mental Hygiene,NYCDOHMH,dohmh_daycare,"EDUCATION, CHILD WELFARE, AND YOUTH",20.0,62.0,Local,POINT(987095.9375813293 160192.82608523717)
3,0005cf2135820de8d20395875ca0e506,CENTER FOR JEWISH HISTORY,15,WEST 16 STREET,15 WEST 16 STREET,NEW YORK,MANHATTAN,1.0,10011.0,40.738063,...,Non-public,City,NYC Department of Cultural Affairs,NYCDCLA,dcla_culturalinstitutions,LIBRARIES AND CULTURAL PROGRAMS,2.0,13.0,Regional,POINT(985967.4039420594 208172.96673632128)
4,0006e49b4ecf531c88f5dec8bd7d0364,"RELIANT TRANSPORTATION, INC (B2321)",297,NORMAN AVENUE,297 NORMAN AVENUE,BROOKLYN,BROOKLYN,3.0,11222.0,40.728321,...,Non-public,City,NYC Department of Education,NYCDOE,doe_busroutesgarages,CORE INFRASTRUCTURE AND TRANSPORTATION,14.0,94.0,Regional,POINT(1000721.6476923142 204629.22674475238)

In [ ]:
df_2.dtypes

uid                    object
facname                object
number                 object
street                 object
address                object
city                   object
borough                object
borocode              float64
postcode              float64
latitude              float64
longitude             float64
xcoord                float64
ycoord                float64
bin                   float64
bbl                   float64
community district    float64
council district      float64
census tract 2010     float64
census tract 2020     float64
nta 2010               object
nta 2020               object
facgroup               object
facsubgrp              object
factype                object
capacity              float64
captype                object
optype                 object
opname                 object
opabbrev               object
overlevel              object
overagency             object
overabbrev             object
datasource             object
facdomain              object
schooldist            float64
policeprct            float64
servarea               object
geometry               object
dtype: object

In [ ]:
df_2.isnull().sum()

uid                       0
facname                   8
number                 5933
street                 5591
address                3417
city                    198
borough                 163
borocode                163
postcode                345
latitude                742
longitude               742
xcoord                  742
ycoord                  742
bin                    5533
bbl                    2086
community district      883
council district        892
census tract 2010       883
census tract 2020       883
nta 2010                883
nta 2020                883
facgroup                  0
facsubgrp                 0
factype                  59
capacity              33377
captype               33176
optype                 9809
opname                 1051
opabbrev               9797
overlevel               703
overagency                7
overabbrev                0
datasource                0
facdomain                 0
schooldist              884
policeprct              883
servarea                  0
geometry                742
dtype: int64